EXPO_PUBLIC_SUPABASE_URL=https://pddkgrveqwmeohxszuxr.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_9hyRRfSxKoXNV_iX4Q_W2Q_6vx9hXVXLJDxg7VGa4eKUvwDyg_rGMbCwwMtyAes
EXPO_PUBLIC_RAZORPAY_KEY_ID=rzp_test_TSslW485AyMVnu
EXPO_PUBLIC_N8N_BASE_URL=https://ugonitk.app.n8n.cloud/webhook
EXPO_PUBLIC_REGISTER_API_URL=https://seducing-glowworm-booth.ngrok-free.dev/api/auth/register
EAS_PROJECT_ID=
